body {
	font-family: 'Josefin Sans', sans-serif;
}

/********** HEADER*********/

.header {
	background-color: pink;
	display: block;
	height: 325px;
	text-align: center;
}
nav a {
	display: inline;
	color: white;

}

.profilepic {
	width: 150px;
	height: 150px;
	margin-top: 25px;
	border-radius: 50%;
	border: 3px solid white;
	text-align: center;

}

header img:hover {
	transform: scale(1.2) rotate(760deg);
}


.whoami {
	font-size: bolder;
	color: white;
	margin-bottom: 10px;
}

header h2 {
	color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}

/******** Articles ********/

.background-title {
	height: 42.72px;
	margin: 0;
	padding-top: 19px;
	text-align: center;
	background-color: #aca9a9;
	color: white;
	
}

h3 {
	padding-left: 10px;

}

.job-title {
	padding-top: 18.72px;
	display: inline;
}

.emp-date {
	list-style: none;
	padding-left: 0;
	display: inline;
}

article {
	margin: 10px;
	border-radius: 10%;
	border: 3px solid #666060;
}

/**********  Footer  ********/

.footer {
	background-color: pink;
	height: 46px;
	margin: 0;
	padding-top: 8px;
	display: block;
	text-align: center;
}

